.employee_container {
    height: 80vh;
    margin: 2% 4%;
    border: 2px solid black;
}
.employee_container > .header {
    background: #F1F1F1;
    border-bottom: 2px solid rgb(185, 184, 184); 
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.employee_container > .header > span {
    display: block;
    font-size: 16px;
    min-width: 20% ;
    font-weight: bold;
}
.employee_container > .content {
    overflow-y: scroll;
    height: 70vh;
    box-sizing: border-box;
}
.employee_container > .content > div {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.employee_container > .content > div > span {
    display: block;
    font-size: 16px;
    min-width: 20%; 
}
.employee_container > .content > .dark {
    background: #CACACE;
}
.employee_container > .content > .light {
    background: #D3D3D3;
}